body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 14px 0 14px 0;
}

h2 {
  margin: 10px 0 10px 0;
}

p {
  font-size: 15px;
}

#browserTable {
  width: 640px;
  border-collapse: collapse;
}

#browserTable td {
  font-size: 15px;
}

#browserTable td,
#browserTable th {
  border: 1px solid #ddd;
  padding: 4px;
}

#browserTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#browserTable tr:hover {
  background-color: #dad8d8;
}

#browserTable th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #2e9299;
  color: white;
}

.actions {
  text-align: center;
}

.deleteButton {
  background-color: #99552e;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px #0005;
}

.deleteButton:hover {
  box-shadow: 0 4px 8px #0009;
  opacity: 1;
}

.buttons {
  background-color: #2e9299;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px #0005;
}

.buttons:hover {
  box-shadow: 0 4px 8px #0009;
  opacity: 1;
}

.buttons > a {
  text-decoration: none;
  color: white;
}

.buttonsOther {
  background-color: #0f6d74;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  /* margin: 4px 2px; */
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px #0005;
}

.buttonsOther:hover {
  box-shadow: 0 4px 8px #0009;
  opacity: 1;
}

.buttonsOther > a {
  text-decoration: none;
  color: white;
}

.upload {
  width: 263px;
  height: 36px;
  margin-top: 10px;
}

.textInput {
  padding: 8px 14px;
  width: 184px;
  height: 30;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
